html, body {
  margin: 0;
  padding: 0; }

img {
  border: none; }

body, input {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #222222; }

#header {
  height: 50px;
  box-shadow: 0px 2px 2px #aaaaaa;
  -webkit-box-shadow: 0px 2px 2px #aaaaaa;
  -moz-box-shadow: 0px 2px 2px #aaaaaa; }
  #header .inner {
    width: 640px;
    margin: 0 auto;
    padding: 10px 0; }
  #header .edge_logo {
    float: right;
    margin-top: 3px; }
  #header .cloudinary_logo {
    float: left; }
  #header h1 {
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin: 5px 0 0 90px;
    color: #666666; }

#content {
  width: 640px;
  margin: 0 auto;
  position: relative; }

.upload_section {
  margin: 10px 0;
  height: 97px;
  padding-top: 20px; }
  .upload_section .share_details_section, .upload_section .upload_progress, .upload_section .processing_progress {
    display: none; }
  .upload_section.uploading {
    padding-top: 40px;
    height: 77px; }
    .upload_section.uploading .drag_area, .upload_section.uploading .details_link {
      display: none; }
    .upload_section.uploading .upload_progress {
      display: block; }
  .upload_section.processing {
    padding-top: 40px;
    height: 77px; }
    .upload_section.processing .drag_area, .upload_section.processing .details_link {
      display: none; }
    .upload_section.processing .processing_progress {
      display: block; }
  .upload_section.uploaded {
    padding-top: 15px;
    height: 222px; }
    .upload_section.uploaded .share_details_section {
      display: block; }
    .upload_section.uploaded .drag_area, .upload_section.uploaded .details_link {
      display: none; }

.drag_area {
  width: 531px;
  height: 75px;
  border: 4px dashed #cccccc;
  margin: 0 auto; }
  .drag_area .drag_inner {
    width: 440px;
    margin: 19px auto 0 auto;
    height: 38px; }
    .drag_area .drag_inner span {
      float: left;
      display: inline-block;
      font-weight: bold;
      font-size: 18px;
      color: #bbbbbb;
      line-height: 34px; }
      .drag_area .drag_inner span.small {
        float: none;
        font-weight: normal;
        font-size: 14px;
        padding: 0 53px;
        line-height: 24px; }
  .drag_area.in {
    border-color: #84a788; }
    .drag_area.in .drag_inner span {
      color: #84a788; }
  .drag_area .upload_button_holder {
    position: relative;
    display: inline-block;
    height: 38px; }
    .drag_area .upload_button_holder input[type=submit] {
      border: 1px solid #bbbbbb;
      height: 38px;
      line-height: 36px;
      font-weight: bold;
      color: #333333;
      font-size: 18px;
      font-family: Helvetica, Arial, sans-serif;
      background-color: white;
      padding: 0;
      width: 180px;
      border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      background-image: linear-gradient(bottom, #f4f4f4 28%, #fefefe 64%);
      background-image: -o-linear-gradient(bottom, #f4f4f4 28%, #fefefe 64%);
      background-image: -moz-linear-gradient(bottom, #f4f4f4 28%, #fefefe 64%);
      background-image: -webkit-linear-gradient(bottom, #f4f4f4 28%, #fefefe 64%);
      background-image: -ms-linear-gradient(bottom, #f4f4f4 28%, #fefefe 64%);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.28, #f4f4f4), color-stop(0.64, #fefefe));
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#fefefe')";
      margin: 0;
      cursor: pointer; }
    .drag_area .upload_button_holder:hover input[type=submit] {
      background-image: linear-gradient(bottom, #eaeaea 28%, #f4f4f4 64%);
      background-image: -o-linear-gradient(bottom, #eaeaea 28%, #f4f4f4 64%);
      background-image: -moz-linear-gradient(bottom, #eaeaea 28%, #f4f4f4 64%);
      background-image: -webkit-linear-gradient(bottom, #eaeaea 28%, #f4f4f4 64%);
      background-image: -ms-linear-gradient(bottom, #eaeaea 28%, #f4f4f4 64%);
      background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.28, #eaeaea), color-stop(0.64, #f4f4f4));
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaeaea', EndColorStr='#f4f4f4')"; }
    .drag_area .upload_button_holder input {
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      width: 180px;
      height: 38px;
      margin: 0;
      padding: 0; }
    .drag_area .upload_button_holder .cloudinary-fileupload {
      opacity: 0;
      filter: alpha(opacity=0); }

.kind_selection {
  list-style: none;
  margin: 0 0 0 5px;
  padding: 0; }
  .kind_selection:after {
    clear: both;
    content: "";
    display: block; }
  .kind_selection li {
    float: left;
    margin: 0 4px;
    width: 150px;
    cursor: pointer; }
    .kind_selection li .image {
      display: block;
      width: 150px;
      height: 100px;
      margin: 5px 0; }
    .kind_selection li .name {
      display: block;
      font-size: 11px;
      color: #aaaaaa;
      text-align: center; }
    .kind_selection li input[type=radio] {
      text-align: center;
      display: block;
      margin: 5px auto; }

.processing_progress img {
  margin: 0 auto;
  display: block; }

.upload_progress span, .processing_progress span {
  display: block;
  margin: 0 auto;
  font-size: 11px;
  width: 80px;
  text-align: center;
  color: #cccccc;
  padding-bottom: 5px; }

.upload_progress .progress_bar {
  display: block;
  width: 240px;
  height: 24px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 1px solid #acc1dc;
  font-size: 1px;
  line-height: 1px;
  position: relative;
  margin: 0 auto; }
  .upload_progress .progress_bar .completed {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 0;
    height: 24px;
    font-size: 1px;
    line-height: 1px;
    background-image: linear-gradient(bottom, #6b91c0 0%, #d4e7ff 63%);
    background-image: -o-linear-gradient(bottom, #6b91c0 0%, #d4e7ff 63%);
    background-image: -moz-linear-gradient(bottom, #6b91c0 0%, #d4e7ff 63%);
    background-image: -webkit-linear-gradient(bottom, #6b91c0 0%, #d4e7ff 63%);
    background-image: -ms-linear-gradient(bottom, #6b91c0 0%, #d4e7ff 63%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #6b91c0), color-stop(0.63, #d4e7ff));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#6b91c0', EndColorStr='#d4e7ff')"; }

.share_details_section {
  margin: 0 auto; }
  .share_details_section .fields {
    margin: 20px 0 0 20px;
    float: left; }
    .share_details_section .fields .field {
      margin-bottom: 10px; }
    .share_details_section .fields label {
      font-size: 14px;
      color: #999999;
      display: inline-block;
      width: 80px; }
  .share_details_section input[type=text] {
    font-size: 16px;
    color: #666666;
    padding: 2px 4px;
    border: 1px solid #bbbbbb;
    width: 320px; }
  .share_details_section input[type=submit] {
    margin: 23px auto 0 auto;
    display: block;
    border: 1px solid #034b82;
    height: 38px;
    line-height: 36px;
    font-weight: bold;
    color: #f5f4f4;
    font-size: 18px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    padding: 0 40px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-image: linear-gradient(top, #0f6fb8 0%, #08538c 50%);
    background-image: -o-linear-gradient(top, #0f6fb8 0%, #08538c 50%);
    background-image: -moz-linear-gradient(top, #0f6fb8 0%, #08538c 50%);
    background-image: -webkit-linear-gradient(top, #0f6fb8 0%, #08538c 50%);
    background-image: -ms-linear-gradient(top, #0f6fb8 0%, #08538c 50%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0f6fb8), color-stop(0.5, #08538c));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0f6fb8', EndColorStr='#08538c')";
    cursor: pointer; }
    .share_details_section input[type=submit]:hover {
      background-image: linear-gradient(top, #0565ae 0%, #014982 50%);
      background-image: -o-linear-gradient(top, #0565ae 0%, #014982 50%);
      background-image: -moz-linear-gradient(top, #0565ae 0%, #014982 50%);
      background-image: -webkit-linear-gradient(top, #0565ae 0%, #014982 50%);
      background-image: -ms-linear-gradient(top, #0565ae 0%, #014982 50%);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0565ae), color-stop(0.5, #014982));
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0565ae', EndColorStr='#014982')"; }
  .share_details_section:after {
    clear: both;
    content: "";
    display: block; }

.stream_section h2 {
  border-bottom: 1px solid #006bc6;
  margin: 0;
  padding: 0;
  color: #006bc6;
  font-size: 18px; }
.stream_section .stream {
  list-style: none;
  margin: 0;
  padding: 0; }
  .stream_section .stream .photo_item {
    border-bottom: 1px solid #85aed2;
    padding: 10px;
    margin: 7px 0;
    position: relative;
    height: 145px; }
    .stream_section .stream .photo_item .image_link img {
      float: left;
      width: 200px;
      height: 133px;
      margin-right: 30px; }
    .stream_section .stream .photo_item .user {
      display: block;
      font-size: 16px;
      font-weight: bold;
      color: #666666;
      margin-top: 5px; }
    .stream_section .stream .photo_item abbr {
      position: absolute;
      bottom: 5px;
      left: 8px;
      font-size: 11px;
      color: #aaaaaa;
      display: block;
      width: 200px;
      text-align: center; }
    .stream_section .stream .photo_item .message {
      display: block;
      font-size: 14px;
      margin-top: 10px;
      color: #444444; }
    .stream_section .stream .photo_item .view_link {
      display: block;
      font-size: 16px;
      color: #006bc6;
      font-weight: bold;
      text-decoration: underline;
      bottom: 18px;
      left: 285px;
      position: absolute; }
    .stream_section .stream .photo_item .taken_at {
      display: block;
      position: absolute;
      top: 13px;
      left: 285px;
      color: #555555;
      font-size: 12px;
      font-style: italic; }
    .stream_section .stream .photo_item .camera {
      display: block;
      position: absolute;
      top: 83px;
      left: 507px;
      color: #777777;
      font-size: 14px;
      line-height: 18px;
      font-style: italic;
      width: 134px;
      height: 68px;
      text-align: center;
      overflow: hidden; }
    .stream_section .stream .photo_item .square, .stream_section .stream .photo_item .bright, .stream_section .stream .photo_item .circle {
      display: block;
      position: absolute; }
    .stream_section .stream .photo_item .square {
      top: 11px;
      left: 235px; }
      .stream_section .stream .photo_item .square img {
        width: 42px;
        height: 42px; }
    .stream_section .stream .photo_item .bright {
      top: 33px;
      left: 285px; }
      .stream_section .stream .photo_item .bright img {
        width: 200px;
        height: 85px; }
    .stream_section .stream .photo_item .circle {
      top: 11px;
      left: 548px; }
      .stream_section .stream .photo_item .circle img {
        width: 50px;
        height: 50px; }
    .stream_section .stream .photo_item:after {
      clear: both;
      content: "";
      display: block; }

.details_link {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  color: #333333;
  font-weight: bold;
  margin-top: 12px; }

.technical_details {
  display: none;
  position: absolute;
  top: 0px;
  left: 20px;
  width: 560px;
  padding: 20px;
  border: 3px solid #999999;
  background-color: white; }
  .technical_details .close {
    text-align: center;
    color: #222222;
    font-size: 12px;
    font-weight: bold;
    display: block; }
  .technical_details ol {
    margin: 0;
    padding: 0 0 0 20px; }
  .technical_details li {
    font-size: 14px;
    margin: 10px 0;
    color: #666666; }