@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,400,700,900');
*{

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    word-wrap: break-word;

}
body{
    -webkit-overflow-scrolling: auto;
}
.mobile{
    display: none;
}
.desktop{
    display: block;
    overflow: auto
}

@media only screen and (max-width: 600px) {
    .mobile{
        display: block;
    }

    .desktop{
       display: none;
    }
}
a{
    color: #c7fffd;
}
.light a{
    color: #4b8e8d;
}
.viewer{
    font-size: 18px;
}
.viewer  p, h1{
    font-family: 'Roboto Slab',serif;
}

.roboto-serif p, h1{
    font-family: 'Roboto Slab',serif;

}


.viewer{
    background-color: #303030;
    color:#fff;
    margin:0;
    font-family: 'Roboto Slab',serif;
}
.light.viewer{
    color:#303030;
    background-color:#fff;
}
.section-full{
    width: 100%;
    min-height: 100px;

    position: relative;
    overflow: hidden;
}
.viewer .section-full{
    border:none;
}
.section-full > *{
    text-align: center;
    position: relative;

}

.section-full-p{
    padding: 24px;

    text-align: justify;
    line-height: 1.5;
}

.section-full >  p{

}
.text-element{
    margin: 0;
}
.header_section{
    height: calc(100vh - 60px);
}

.header_section{
    height: 320px;
    height: 100vh;
}
.sub-header{
    text-align: center;
    font-size: 14px;
    color: #eee;
}
h1{
    margin-top: auto;
    top: 0em;
    position: relative;
    color: #fff;
    font-weight: 800;
    font-size: 90px;
    letter-spacing: 0.16em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    display: block;
    max-width: 1400px;
    padding: 0 30px;
    word-wrap: break-word;
}


.h-font-size--2 h1{
    font-size: 70px;
}
.h-font-size--1 h1{
    font-size: 80px;
}
.h-font-size-0 h1{
    font-size: 90px;
}
.h-font-size-1 h1{
    font-size: 100px;
}

.h-font-size-2 h1{
    font-size: 120px;
}

@media only screen and (max-width: 600px) {

    h1{letter-spacing: 0.1em;
        line-height: 1.1em;
    }

    .h-font-size--2 h1{
        font-size: 30px !important;
    }
    .h-font-size--1 h1{
        font-size: 40px !important;
    }
    .h-font-size-0 h1{
        font-size: 50px !important;
    }
    .h-font-size-1 h1{
        font-size: 60px !important;
    }

    .h-font-size-2 h1{
        font-size: 80px !important;
    }
}
.text_over_media p, .header_section  p{

    margin: auto;
    text-align: center;
    margin: auto;
    margin-top: 0 !important;
    max-width: 1400px;
    padding: 0 30px;
}

.content-column{
    max-width: 600px;
    margin: auto;
}
.content-column img{
    max-width: 100%;
    display: block;

    margin: 24px auto;
}
.content-column  > p {
    margin: 0;
}

.text_over_media{
    height: 100vh;

}

.text_over_media.youtube-over{
    min-height: auto;
    max-height: 100vh;
}

.background-image{
    position: static;
    padding: 0;
}

.background-image > img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    min-height: 100vh;
}

.text_over_media > .background-image > img, .media_section > .background-image > img{
    position: relative;
}

.background-overlay{
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
}

.section-text-one-column{
    color:red;
}

.push-50{

}


.yt-fullscreen{
    width: 100%;
    height: 100%;

}

.embed-container { position: relative; padding-bottom: 56.25%;   overflow: hidden; max-width: 100%; }
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.embed-container img {top:-20%;}

.header_v_top{
    margin-top: 40px;
}
.header_v_center{

}
.reveal_image .header_v_bottom{
    margin-top: -60px;
}
.header_v_bottom{
    margin-top: 0;
    bottom: 50px;
}

.text_over_media .header_v_center{
    margin-top: 0;
}
.header_h_left  *{
   text-align: left !important;

}
.header_h_center  *{
    text-align: center !important;
}
.header_h_right   *{
    text-align: right !important;
}
.caption_c_left {
text-align: left;
}
.caption_c_center {
    text-align: center;
}

.caption_c_right {
    text-align: right;
}
.c-font-size--2  {
    font-size: 14px;
}
.c-font-size--1  {
    font-size: 16px;
}
.c-font-size-0  {
    font-size: 18px;
}
.c-font-size-1 {
    font-size: 20px;
}

.c-font-size-2 {
    font-size: 22px;
}
.youtube-over .header_v_top, .youtube-over .header_v_center, .youtube-over .header_v_bottom,
.youtube-over .header_h_left, .youtube-over .header_h_center, .youtube-over .header_h_right
.youtube-over{
    margin-top: 0;
    position: absolute;
    top: 0;
}

.youtube-over .header_v_top{
    margin-top: 20px;
}

.youtube-over .header_v_center{

}

.youtube-over .header_v_bottom{
   top:initial;
    bottom: 20px;
}

.youtube-over.text_over_media{
    min-height: none;
    height:  auto;

}
.youtube-over .header-wrapper{
    width: 100%;

}
.header-wrapper{
    position: relative;
}
.fixed-image{
    position: absolute;
    background-image: url('path-to-url');
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.reveal_image{

    position: relative;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top center;
}

@media only screen and (max-width: 600px) {
    .reveal_image{
        background-attachment: scroll;
    }
    .fixed-image{
        background-attachment: inherit;
    }
}
.caption-wrapper{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 10px;
    background-color: rgba(0,0,0,.6);
    color: rgba(238,238,238,.9);
    text-align: left;
    width: 100%;
  /*  display: none; */
    z-index: 2;
}
.left_column, .right_column{
    float:left;
    width: 50%;


    position: relative;
    max-width: 600px !important;

}
.left_column  {
    padding-right: 10px;
}
.right_column  {
    padding-left: 10px;
}


@media only screen and (max-width: 600px) {
    .left_column, .right_column{
        float: none;
        width: 100%;
       padding: 0;
    }
}

.grid{
    max-width: 1220px;
    margin: auto;
    display: block;
}
.grid:after {
    content: "";
    display: table;
    clear: both;
}

.scrollimage{
    text-align: center;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    position: absolute;
}

.scrollimage img{
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

button.tiny{
    min-width: auto;
    width: 40px;
}

.content-column grid{
    max-width: auto;

}

.force-white{
    color:#fff !important;
}

footer{
    z-index: 2;
    color: white;
    /* text-align: center; */
    text-align: center!important;
    position: absolute!important;
    bottom: 5px;
    width: 100%;
    font-size: 12px;
}

.navbar{
    height: 40px;
    width: 100%;
    display: block;
    background-color: rgba(44, 44, 44, 0.9);
    position: fixed;
    z-index: 5;
    padding: 5px;
}

.navbar-left-logo{
cursor: pointer;
    float: left;
}

.nav-header{
    margin: 3px auto;
    padding: 0;
    width: 120px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .nav-header{
        float: right;
    }

}
.reveal_image {
    position: relative;
    overflow: hidden;
    background: center center no-repeat #000;
    background-size: cover;
    height: 100vh;

}

.reveal_bg{

    clip: rect(0,auto,auto,0);
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    z-index: 2;
}



.reveal_img{
    background-image: url(img/bg1.jpg);
    background-position: center center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    position: fixed;
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    background-size: cover;
}