/** CSS Styles */

body{

}
#app{
  font-size: 18px;
}
.container{
  padding: 0 !important;
}
.show{
  visibility: visible!important;
}
.hide{
  visibility: hidden!important;
}
.no-transition, .no-transition *{
  transition: none !important;
}
.navigation-drawer{
  width: 200px;

}
.navigation-drawer *{

}
.navbar-margin{

}
.light > .application--dark {
  color: #303030;
  background: #fff;
}
.section-thumb{
  width:180px;
  margin:  12px 0;
cursor: move !important;
}

.remove-button{
  width: 24px;
  height: 23px;
  font-size: 12px;
  position: absolute;
  right: 0px;
}

.section-selector{

}
.sectionThumbCard{
  height: 290px;
}
.sectionThumbCard > h6{
  margin-top: 6px;
}
.sectionThumbCard > p{
  height: 100px;
  margin: 0;
  border: 1px solid grey;
  padding: 0 20px;
}
.section-bar{
  position: absolute;
  top: 0;
  left: 0;

}
[contenteditable="true"],[contenteditable="true"]:active,
[contenteditable="true"]:focus{
  border: 1px dashed rgba(255,255 ,255,0.4);
}
.content-column  > p, .content-column  > h1{

}
.content-column  > p > p{

}
.code-container{
  max-height: 600px;
  overflow: auto;
}

.element-toolbar{
  margin-top: 0;
  visibility: hidden;
}

.block{
  display: block;
}
.bg-button{
  position: absolute;
  top: 0;
  left: 0;
}


.floating-toolbar{
  top: 0;
  left:0;
}

.header-wrapper button{
  position: absolute;
}

.header_section  p{

}
.hiddenv{
  opacity: 0;
}
.disabled{
  opacity: 0.7;
  pointer-events: none;
}
.v-up-button{
  top: -5px; margin-left: auto; margin-right: auto; position:relative !important;
}
.v-down-button{
  position:relative !important; top:  5px; margin-left: auto; margin-right: auto;
}

.h-left-button{
  left: 10px; top:  80px;
}

.h-right-button{
  right:10px; top:  80px;
}
.font-down-button{
  top: -5px;
  right: 0%;
  margin-right: 160px;
}

.font-up-button{
  top: -5px;
  right: 0%;
  margin-right: 90px;
}
.absolute{
  position: absolute;
}

.collection-holder{
  width: 100%;

}

.image-collection-thumb{
  display: inline-block;
  height: 90px !important;
  width: 140px;
  cursor: move !important;
  margin: 0 10px;
}

.image-thumb-bg{
  background-size: cover;
  width: 100%;
  height: 100%;
}
.section-thumb .image-thumb-bg{
  position: absolute;
  background-position: center;
}

.section-thumb p{
  text-align: center;
  position: relative;
  font-weight: bolder;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  top:30px;

}
.btn--icon{
  background-color: #fff;
}

.caption-wrapper{
position: absolute !important;
}

.mainColor{
  color:#fff;
}

.gutter{
  padding: 30px;
}

.no-scroll{
  overflow: hidden;
}
.tabs:not(.tabs--centered):not(.tabs--grow):not(.tabs--mobile) .tabs__wrapper--scrollable{
  margin: 0 !important;
}

.btn--floating .btn__content{

}

.snackBar{
  margin-top:70px;
}

.toolbar__content {
    height: 64px;
    min-width: 230px;
}

.slider{
    margin-top: 20px;
}

