<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eagle Story Builder</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet"
          type="text/css">
    <link href="css/vuetify.min.css" rel="stylesheet" type="text/css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <link href="css/storyboard.css" rel="stylesheet" type="text/css">
    <link href="css/medium-editor.min.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="img/favicon-32x32.png" sizes="32x32">
</head>


<body>

<div id="app" v-bind:class ={light:story.theme=='Light'}>

    <template>
        <v-app dark >

            <v-navigation-drawer permanent clipped dark>
                <side-bar></side-bar>
            </v-navigation-drawer>

            <v-toolbar class="teal"  fixed>

                <v-toolbar-title>Eagle Story Builder</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn @click.native="openSettings=true" light  class="">Settings
                    <v-icon light righ>settings</v-icon>
                </v-btn>
                <v-btn @click.native="resetStory" light  class="">Clear
                    <v-icon light righ>clear</v-icon>
                </v-btn>
                <v-btn @click.native="saveStory" light  class="mr-3">Save
                    <v-icon  light righ>save</v-icon>
                </v-btn>
                <v-btn @click.native="onFinish"   light class="mr-3 ">Finish
                    <v-icon light righ>done</v-icon>
                </v-btn>

                <v-btn @click.native="previewStoryBoard" class="cyan white--text">Preview
                    <v-icon light right>visibility</v-icon>
                </v-btn>
                <v-btn @click.native="previewStoryBoard(true)" class="cyan white--text">Mobile
                    <v-icon light right>stay_current_portrait</v-icon>
                </v-btn>

            </v-toolbar>

            <main>
                <v-container fluid>

                    <page class="navbar-margin roboto-serif">


                    </page>

                </v-container>
            </main>
            <add-media-window></add-media-window>
            <image-collection-window></image-collection-window>
            <settings-window v-bind:element="e1"></settings-window>
            <v-snackbar class="snackBar" v-model="snackbarSaved" :success="true" :top="true" :timeout="2500">
               Story Saved!

            </v-snackbar>
        </v-app>

    </template>

</div>

<!-- templates -->

<script type="text/template" id="section-thumb">

    <v-card class="section-thumb grey lighten-4" hover height="120px" @click="scrollTo()">
        <div  v-if="section.backgroundYouTubeThumb"  class="image-thumb-bg" :style="{ 'background-image': 'url(' + section.backgroundYouTubeThumb + ')!important' } ">

        </div>
        <div  v-else   class="image-thumb-bg" :style="{ 'background-image': 'url(' + backgroundImage + ')!important' } "></div>

        <div class="background-overlay"></div>
        <v-btn @click.native="removeSection" icon class="remove-button red white--text"
               v-if=" section.sectionType.isStatic==false">x
        </v-btn>
        <v-card-text>

            <p>{{dynamicText}}</p>
        </v-card-text>

    </v-card>

</script>

<script type="text/template" id="image-collection-thumb">

    <v-card class="image-collection-thumb grey lighten-4" hover   @click="scrollTo()"  >
        <div  class="image-thumb-bg" :style="{ 'background-image': 'url(' + element.content + ')!important' } ">
        <v-btn @click.native="removeImage" icon class="remove-button red white--text"
               v-if=" section.sectionType.isStatic==false">x
        </v-btn>
        <v-card-text>

            <div class="teal--text text-xs-center"></div>
        </v-card-text>
        </div>
    </v-card>

</script>
<script type="text/x-template" id="side-bar">

    <v-layout column align-center class="ma-0">
        <draggable :list="story.sections" class="dragArea">
            <section-thumb
                    v-for="s in story.sections"
                    v-bind:section="s"
                    v-bind:key="s.id"
            ></section-thumb>
        </draggable>
        <v-dialog v-model="sectionSelectionDialog" persistent width="900px">

            <v-btn class="green white--text" slot="activator">
                <v-icon light left>add_box</v-icon>
                New Section
            </v-btn>
            <v-card class="pa-4">


                <v-card-title> <div class="headline">Select Section Type</div></v-card-title>
                <v-layout row>


                    <v-container fluid class="pa-4">
                        <v-layout row wrap>
                            <v-flex xs4 v-for="sType in sectionTypes" v-bind:sectionType="sType" v-bind:key="sType.id"
                                    class="section-selector text-xs-center" v-if="sType.isStatic == false">

                                <div class="grey lighten-4 elevation-1 pt-2 pb-2 mt-4 sectionThumbCard" >
                                    <h6 class="teal--text">{{sType.title}}</h6>
                                  <!--  <p class=" grey--text darken-4">{{sType.description}}</p> -->
                                    <img :src="sType.thumb"/>
                                    <v-btn @click.native="addSelectedSection(sType);sectionSelectionDialog = false;"
                                           class="green white--text" :disabled="!sType.isImplemented">Select
                                    </v-btn>
                                </div>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-layout>
                <v-card-actions>

                    <v-btn class="green--text darken-1" flat="flat" @click.native="sectionSelectionDialog = false">
                        Cancel
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <!--   <v-btn class="green white--text" @click.native="addSection">  <v-icon light left>add_box</v-icon>New Section </v-btn> -->
    </v-layout>

</script>

<script type="text/x-template" id="section-full">

    <div class="section-full" :class="sectionClass" v-bind:id="'section'+section.id">

        <div class="background-image"
             v-if="(section.sectionType.id =='header_section' || section.sectionType.id =='media_section' || section.sectionType.id =='text_over_media')">
            <img v-if="(section.backgroundImage!='' && section.sectionType.id != 'text_over_media')"
                 :src="section.backgroundImage"/>
            <div class="fixed-image" v-if="(section.backgroundImage!='' && section.sectionType.id == 'text_over_media')"
                 :style="{ 'background-image': 'url(' + section.backgroundImage + ')' }"></div>
            <div v-if="section.backgroundYouTube" class='embed-container'>
                <iframe class="muted yt-fullscreen" :src="section.backgroundYouTube" frameborder='0' allowfullscreen>
                </iframe>
            </div>
            <div class="background-overlay"  :style="{'opacity':((section.opacity/100)-0.2)}"
                 v-if="(section.sectionType.id =='header_section'|| section.sectionType.id =='text_over_media')"
                ></div>
            <div class="section-bar">


                <v-toolbar class="transparent elevation-0 mt-3 floating-toolbar" floating flat absolute>
                    <v-btn   dark fab @click.native="openBackgroundImageWindow">
                        <v-icon dark>image</v-icon>
                    </v-btn>
                    <v-slider v-model="section.opacity" v-tooltip:right="{ html: 'Set Background Opacity' }"></v-slider>
           <!--         <v-btn dark floating @click.native="openBackgroundImageWindow"
                           v-if="(section.sectionType.id=='header_section_none' || section.sectionType.id =='text_over_media')">
                        <v-icon dark>format_align_left
                        </v-icon>
                    </v-btn>-->

                </v-toolbar>


            </div>
        </div>


        <div class="header-wrapper"
             v-if="(section.sectionType.id=='header_section'|| section.sectionType.id =='text_over_media')"
             v-bind:class="headerClass">
            <v-btn dark fab @click.native="verticalAlignment('up')" class="v-up-button"
                   v-bind:class="{hiddenv:section.vAlign=='top'}">
                <v-icon dark>keyboard_arrow_up
                </v-icon>
            </v-btn>

            <html-element v-for="element in section.elements" v-bind:element="element" v-bind:section="section"
                          v-bind:key="element.id"  class="force-white"
                         ></html-element>
            <v-btn dark fab @click.native="fontSize('down')" class="font-down-button">
                <v-icon dark>format_size
                </v-icon>
            </v-btn>
            <v-btn dark fab @click.native="fontSize('up')" class="font-up-button">
                <v-icon dark>text_fields
                </v-icon>
            </v-btn>
            <v-btn dark fab @click.native="verticalAlignment('down')" class="v-down-button"
                   v-show="section.vAlign!='bottom'">
                <v-icon dark>keyboard_arrow_down
                </v-icon>
            </v-btn>

            <v-btn dark fab @click.native="horizontalAlignment('left')" class="h-left-button"
                   v-show="section.hAlign!='left'">
                <v-icon dark>keyboard_arrow_left
                </v-icon>
            </v-btn>
            <v-btn dark fab @click.native="horizontalAlignment('right')" class="h-right-button"
                   v-show="section.hAlign!='right'">
                <v-icon dark>keyboard_arrow_right
                </v-icon>
            </v-btn>
            <!--
            <html-element v-for="element in section.elements" v-bind:element="element" v-bind:section="section"
                          v-bind:key="element.id" class="force-white"
                          v-if="(section.sectionType.id=='text_over_media' && (element.tag =='p'||element.tag =='p2'))"></html-element>

-->
        </div>
        <div v-else-if="section.sectionType.id == 'reveal_section'" class="pa-0" >

            <v-toolbar class="transparent elevation-0 mt-3 floating-toolbar absolute" floating flat absolute>
                <v-btn dark fab @click.native="openImageCollectionWindow">
                    <v-icon dark>add_to_photos</v-icon>
                </v-btn>
                <v-btn dark fab @click.native="fontSize('down')" class="font-down-button-captions">
                    <v-icon dark>format_size
                    </v-icon>
                </v-btn>
                <v-btn dark fab @click.native="fontSize('up')" class="font-up-button-captions">
                    <v-icon dark>text_fields
                    </v-icon>
                </v-btn>
                <v-btn dark fab @click.native="horizontalAlignment('left')" class="h-left-button-captions"

                       v-bind:class="{disabled:(  section.hAlign=='left')}" >
                    <v-icon dark>keyboard_arrow_left
                    </v-icon>
                </v-btn>
                <v-btn dark fab @click.native="horizontalAlignment('right')" class="h-right-button-captions"
                       v-bind:class="{disabled:(section.hAlign=='right')}">
                <v-icon dark>keyboard_arrow_right
                    </v-icon>
                </v-btn>
            </v-toolbar>
             <div v-for="element in section.elements">

                 <div v-if="element.tag=='reveal'" v-bind:element="element" class="reveal_image"  :style="{ 'background-image': 'url(' + element.content + ')' }">
             <!--     <div class="header-wrapper header_v_center"><h1>TEXT</h1></div> -->


                     <div class="header-wrapper"    v-bind:class="headerClass">
                         <v-btn dark fab @click.native="verticalAlignment('up')" class="v-up-button"
                                v-bind:class="{hiddenv:section.vAlign=='top'}">
                             <v-icon dark>keyboard_arrow_up
                             </v-icon>
                         </v-btn>

                         <h1   contenteditable="true" v-on:blur="changed3(element,  $event)" v-html="element.content3" class=""> </h1>
                         <!--
                         <v-btn dark fab @click.native="fontSize('down')" class="font-down-button">
                             <v-icon dark>format_size
                             </v-icon>
                         </v-btn>
                         <v-btn dark fab @click.native="fontSize('up')" class="font-up-button">
                             <v-icon dark>text_fields
                             </v-icon>
                         </v-btn> -->
                         <v-btn dark fab @click.native="verticalAlignment('down')" class="v-down-button"
                                v-show="section.vAlign!='bottom'">
                             <v-icon dark>keyboard_arrow_down
                             </v-icon>
                         </v-btn>
<!--
                         <v-btn dark fab @click.native="horizontalAlignment('left')" class="h-left-button"
                                v-show="section.hAlign!='left'">
                             <v-icon dark>keyboard_arrow_left
                             </v-icon>
                         </v-btn>
                         <v-btn dark fab @click.native="horizontalAlignment('right')" class="h-right-button"
                                v-show="section.hAlign!='right'">
                             <v-icon dark>keyboard_arrow_right
                             </v-icon>
                         </v-btn>
-->
                     </div>
                     <div class="caption-wrapper ">
                         <p  contenteditable="true"   v-on:blur="changed(element,  $event)" v-html="element.content2" v-bind:class="captionsClass"></p>
                     </div>
                 </div>


             </div>
        </div>
        <div v-else-if="section.sectionType.id =='two_column_text'" class="grid">

            <div class="left_column content-column img">
                <html-element v-if="element.attributes.column =='main'" v-for="element in section.elements" v-bind:element="element" v-bind:section="section"
                              v-bind:key="element.id"></html-element>
            </div>
            <div class="right_column content-column img">
                <html-element v-if="element.attributes.column =='secondary'" v-for="element in section.elements" v-bind:element="element" v-bind:section="section"
                              v-bind:key="element.id"></html-element>
                <!--
                <div   v-if="element.tag =='scrollimage'" v-for="element in section.elements" v-bind:element="element"  v-bind:key="element.id" class="scrollimage ">
                    <img  :src="element.content"/>
                </div>-->
            </div>
        </div>
        <div v-else="">
            <html-element v-for="element in section.elements" v-bind:element="element" v-bind:section="section"
                          v-bind:key="element.id"></html-element>

        </div>
        <footer  v-if="section.sectionType.id=='header_section'" contenteditable="true" v-on:blur="changedFooter" v-html="story.author"> </footer>
    </div>
</script>

<script type="text/x-template" id="html-element">
    <div class="html-element" v-on:mouseover="mouseOver" v-on:mouseout="mouseOut">
        <div v-bind:class="{'content-column':section.sectionType.id=='sinlge_column_text'}">
            <h1 v-if="element.tag=='h1'" contenteditable="true" v-on:blur="changed" v-html="element.content" class="">
                </h1>
            <medium-editor v-if="element.tag=='p'" :text='element.content' :options='data.options'
                           v-on:edit='processEditOperation' :reuse-medium-editor-instance="false" custom-tag='p' class="section-full-p">
            </medium-editor>
            <medium-editor v-if="element.tag=='p2'" :text='element.content' :options='data.options'
                           v-on:edit='processEditOperation' :reuse-medium-editor-instance="false" custom-tag='p' class="section-full-p sub-header">
            </medium-editor>
            <!-- <p v-if="element.tag=='p'" contenteditable="true" v-on:blur="changed" v-on:click="selected" v-html="element.content"> </p>-->
            <img v-if="element.tag=='img'" :src="element.content"/>
            <iframe v-if="element.tag=='yt'" width="420" height="315"
                    :src="element.content">
            </iframe>
            <element-toolbar v-if="!(section.sectionType.id=='text_over_media')" v-bind:class="{'show':element.showToolbar}" v-bind:element="element"
                             v-bind:section="section"></element-toolbar>
        </div>
    </div>
</script>

<script type="text/x-template" id="settings-window">
    <div  >
        <v-layout row justify-center>
            <v-dialog  v-model="openSettings"   persistent width="600px">
                <v-card class="secondary elevation-0 no-scroll pa-4">

                        <v-card-title> <div class="headline">Settings</div></v-card-title>

                    <v-layout row>
                        <v-container fluid>

                            <v-layout row>
                                <v-flex xs4>
                                    <v-subheader class="grey--text text--lighten-1">Story Title</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                    <v-text-field
                                            name="input-3"

                                            value="Input text"
                                            dark
                                            v-model="story.storyTitle"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout>
                       <!--
                            <v-layout row>
                                <v-flex xs4>
                                    <v-subheader class="grey--text text--lighten-1">Author</v-subheader>
                                </v-flex>
                                <v-flex xs8>
                                    <v-text-field
                                            name="input-3"

                                            value="Input text"
                                            dark
                                            v-model="story.author"
                                    ></v-text-field>
                                </v-flex>
                            </v-layout> -->
                            <v-layout row>
                                <v-flex xs4>
                                    <v-subheader class="grey--text text--lighten-1">Background brightness for text boxes</v-subheader>
                                </v-flex>
                                <v-flex xs8>

                                    <v-select
                                            v-bind:items="themesAvailable"
                                            v-model="story.theme"

                                            dark

                                    ></v-select>

                                </v-flex>
                            </v-layout>

                        </v-container>
                    </v-layout>
                    <v-card-actions>

                        <v-btn class="green--text darken-1" flat="flat" @click.native="openSettings = false">OK
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>

    </div>
</script>

<script type="text/x-template" id="image-collection-window">
    <div v-if="activeElement!=null">
        <v-layout row justify-center>
            <v-dialog v-model="showCollectionDialog" persistent width="1000px">
                <v-card class="no-scroll">

                    <v-card-title> <div class="headline">Reveal Section Settings</div></v-card-title>

                    <v-layout row>
                        <div class="collection-holder">
                            <draggable :list="activeElement.section.elements" class="dragArea">
                                <image-collection-thumb
                                        v-for="e in activeElement.section.elements"
                                        v-bind:element="e"
                                        v-bind:section="activeElement.section"
                                        v-bind:key="e.id"
                                ></image-collection-thumb>
                            </draggable>
                        </div>
                    </v-layout>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn class="green--text darken-1" flat="flat" @click.native="addNewImage">Add Image
                        </v-btn>
                        <v-btn class="green--text darken-1" flat="flat" @click.native="showCollectionDialog = false">OK
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-layout>

    </div>

</script>


<script type="text/x-template" id="add-media-window">
    <div>
        <v-layout row justify-center>
            <v-dialog v-model="data.showMediaDialog" persistent width="600">
                <v-card flat>
                    <v-tabs id="mobile-tabs-6" scroll-bars >

                        <v-tabs-bar slot="activators"  class="darken-3">

                            <v-tabs-item  :href="'#add-image-tab'"  >
                                Add Image
                            </v-tabs-item>
                            <v-tabs-item :href="'#add-video-tab'"
                                         v-if="(data.activeElement != null && data.activeElement.$el.className.indexOf('header_section')==-1)">
                                Add YouTube
                            </v-tabs-item>
                            <v-tabs-slider class="teal"></v-tabs-slider>
                        </v-tabs-bar>
                        <v-tabs-content
                                id="add-image-tab"
                                class="pa-3"
                                height="200px"
                        >
                            <v-card flat>
                                <v-layout row>
                                    <input type="file" id="myFileUploader" v-on:change="doUpload"/>
                                </v-layout>

                               <v-card-actions>

                                    <v-btn class="green--text darken-1" flat="flat"
                                           @click.native="data.showMediaDialog = false">Close
                                    </v-btn>
                                   </v-card-actions>
                            </v-card>
                        </v-tabs-content>
                        <v-tabs-content id="add-video-tab" height="200px" class="pa-3">

                            <v-card flat>


                                <v-layout row>
                                    <v-text-field
                                            name="youtube-input"
                                            label="URL"
                                            value="Input text"
                                            class="input-group--focused"
                                            id="youtube-input"
                                            v-model="data.youtubeURL"

                                    ></v-text-field>

                                </v-layout>

                                <v-card-actions>
                                    <v-btn class="green--text darken-1" flat="flat" @click.native="saveYouTube">Add
                                    </v-btn>
                                    <v-btn class="green--text darken-1" flat="flat"
                                           @click.native="data.showMediaDialog = false">Close
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-tabs-content>
                    </v-tabs>

                </v-card>
            </v-dialog>
        </v-layout>

    </div>

</script>

<script type="text/x-template" id="element-toolbar">

    <div class="text-xs-center element-toolbar no-transition" v-if="section.sectionType.id != 'header_section'">

        <v-btn small @click.native="openMediaDialog()">
            <v-icon>image</v-icon>
            Add Media
        </v-btn>
        <v-btn small @click.native="addNewElement('p')">
            <v-icon>short_text</v-icon>
            Add Text
        </v-btn>
        <v-btn small @click.native="removeElement()">
            <v-icon>remove_circle</v-icon>
            Remove
        </v-btn>
        <v-btn class="tiny" small @click.native="moveDown()">
            <v-icon>keyboard_arrow_down</v-icon>

        </v-btn>
        <v-btn class="tiny" small @click.native="moveUp()">
            <v-icon>keyboard_arrow_up</v-icon>

        </v-btn>
    </div>


</script>

<script type="text/x-template" id="page">
    <div class="story_content">
        <section-full
                v-for="s in story.sections"
                v-bind:section="s"
                v-bind:key="s.id"

        ></section-full>
    </div>
</script>

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.lazyload.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/vuetify.js"></script>
<script src="js/vueMediumEditor.min.js"></script>
<script src="js/Sortable.min.js"></script>
<script src="js/vuedraggable.min.js"></script>
<script src="js/integration.js"></script>
<script src="js/app.js"></script>
<script src="js/storyboard.js"></script>

</body>
</html>

